<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {

        }
      }
    }
  </script>
  <title>{% block title %}X{% endblock title %}</title>
</head>
<body class="dark:bg-black dark:text-white text-dark w-10/12 bg-white mx-auto ">
<div class="flex justify-between grid  grid-cols-[200px_minmax(275px,_1fr)350px] gap-x-5">
    
  {% if request.path != '/user/register/' and request.path != '/user/login/' %}
    {% include "components/_sidebar.html" %}
  {% endif %}

  {% block posts %}{% endblock posts %}


    
  {% if request.path != '/user/register/' and request.path != '/user/login/' %}
    {% include "components/_hashtags.html" %}
  {% endif %}

</div>
</body>
</html>